.app {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
  min-height: 100vh;
  border-radius: 10px;
  flex-direction: column;
  background-color: #F2EBEC;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color:#56738C;
}

a {
  color: #56738C;
}

@media (min-width: 800px) {
  .app {
      padding: 0 100px;
      margin-top: 5vh;
      min-height: 90vh;
  }
}
