* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F2EBEC!important;
  font-family: 'Raleway', sans-serif;
}

/* hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: 'Raleway', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}

p {
  font-family: 'Raleway', sans-serif;
}

